*{margin:0; padding:0; box-sizing:border-box;}

body{
    font-family:'montserat', sans-serif;
    color: #fff;
    background-image: url('assets/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,.7);
    height: 100vh;
}

.header{

    padding: 50px 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0,0,0,.9);
}

.header input{
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;
text-align: center;
font-size: 20px;
color: #f2f2f2;
}

.city{
    font-size: 35px;
    font-weight: 500;
margin-bottom: 10px;
text-shadow: 1px 3px rgba(0,0,0,.8);
}
.temp{

    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 5px rgba(0,0,0,1);
}

.description{

font-size: 25px;
font-style: italic;
text-shadow: 1px 3px rgba(0,0,0,.8);
margin-bottom: 10px;

}


.minmax{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0,0,0,.8);
}
.navbar {
    overflow: hidden;
    background-color: black;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover,
  .dropdown:hover .dropbtn {
    background-color: rgb(0, 102, 255);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .image-slider {
    min-height: 30em;
    height: 100vh;
    position: relative;
    background-image: url(assets/istanbul.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
  }
  
  .image-slider * {
    box-sizing: border-box;
  }
  .arrow-left,
.arrow-right {
  background: #fff;
  position: absolute;
  top: 40%;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.arrow-left:hover,
.arrow-right:hover {
  background: #000;
  color: #fff;
}

.arrow-left {
  left: 1em;
}

.arrow-right {
  right: 1em;
}

.image-fade {
  animation: imgFade 0.5s ease-in-out;
}